.btn-group-toggle .btn:not(:disabled):not(.disabled).active, .btn-group-toggle .btn:not(:disabled):not(.disabled):active, .show>.btn.dropdown-toggle {
    color: #fff;
    background-color: #34a500e0;
    border-color: #34a500e0;
}